@import "../css/reset.css";
@import "../css/superfish.css";
@import "../css/flexslider.css";
@import "../css/jquery.formstyler.css";
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size:18px;
  line-height:24px;
  color:#666;
  min-width:960px;
  background:url(../images/body_bg.png) 50% 0 repeat #fff;
  -webkit-text-size-adjust: none;
}
.screen{
  position: absolute;
  top: 0;
  left: 0;
  width: 1767px;
  height: 1600px;
  margin: 0 0 0 69px;
  background:url(../images/screen.jpg) 50% 0 repeat;
  opacity: 0.5;
  z-index: 99;
}
.main{
  width: 1236px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 35px rgba(0,0,0,0.11);
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_in-block{ display:inline-block;}

/*----------------------> Basic Colors <------------------*/




/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.like_btn{
  display:block;
  padding:4px 0 8px;
  margin: 0px 0 0px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color:#0d0d0d;
  background: #e5c360;
 }
.button:hover{
  background:;
  color:#000;
}

.ad_link{
  color: #fff;
}

/*======================> Header <======================*/

header {

}
  header h1{
    float: left;
    width: 278px;
  }
    header h1.logo a{
      display:block;
      width:235px;
      height:235px;
      background:url(../images/logo.png) 0 0 no-repeat;
      text-decoration:none;
      text-indent:-9999px;
    }
  .school_info{
    background: #ebebeb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 29px 30px 30px;

  }
    .school_info__title{
      color: #515151;
      font-size: 24px;
      line-height: 29px;
      font-weight: bold;
      margin-bottom: 26px;
    }
    .school_info__left{
      width: 550px;
      margin-right: 62px;
    }

    .school_info__phone{
      font-size: 24px;
      line-height: 29px;
      color: #505050;
      padding: 42px 0 0;
    }

  #login_form{
    width: 221px;
    padding: 7px 0;
  }
    #login_form input[type="text"],
    #login_form input[type="password"]{
      border-color: #acacac;
    }
    
    .subm_btn{
      display: block;
      width: 100%;
      text-align: center;
      border: none;
      background: #f49634;
      border-radius: 3px;
      font-size: 24px;
      padding: 2px 0 5px;
      cursor: pointer;
      font-family: 'Ubuntu Condensed', sans-serif;
      color: #fff;
      margin: 0;
    }
  .header_top{
    background: #ff7e7e;
    padding: 4px 0 7px 19px;
  }

  .header_bottom{
    font-family: 'Ubuntu', sans-serif;
    padding: 19px 19px 0 46px;
  }


/*=====================> Content ========================*/

#content {padding:0px 19px 18px 20px;}
.cont_pad{padding:0 0 0 0 !important;}

.box1{
  padding: 54px 24px 19px;
  position: relative;
  overflow: hidden;
}
  .box1_inner,
  .box4_inner{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 29px 34px 29px 29px;
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
  }
  .box1:hover .box1_inner,
  .box4:hover .box4_inner{
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px)
  }
.box1:hover,
.box1_inner{
  background-color: #726578;
  -webkit-box-shadow: inset 0px 0 0 5px #483b4e;
  -moz-box-shadow: inset 0px 0 0 5px #483b4e;
  box-shadow: inset 0px 0 0 5px #483b4e;
}

  #schedule .jq-selectbox__select,
  #schedule .jq-selectbox li{
    color: #0d0d0d;
  }

.box2{
  padding: 54px 28px 19px;
}
.box2:hover{
  background-color: #4c6982;
  -webkit-box-shadow: inset 0px 0 0 5px #223f58;
  -moz-box-shadow: inset 0px 0 0 5px #223f58;
  box-shadow: inset 0px 0 0 5px #223f58;
}

.box3{
  padding: 29px 31px 17px;
}
.box3:hover{
  background-color: #667251;
  -webkit-box-shadow: inset 0px 0 0 5px #3c4827;
  -moz-box-shadow: inset 0px 0 0 5px #3c4827;
  box-shadow: inset 0px 0 0 5px #3c4827;
}
.box4{
  padding: 62px 29px 19px;
  position: relative;
  overflow: hidden;
}
  .box4_text{
    min-height: 114px;
  }
  .box4 .icon_wrap{
    height: 134px;
  }
  .icon_wrap{
    text-align: center;
    height: 142px;
  }
  .box4_inner{
    padding: 30px 34px 29px 29px;
    background-color: #867850;
    -webkit-box-shadow: inset 0 0 0 5px #5c4e26;
    -moz-box-shadow: inset 0 0 0 5px #5c4e26;
    box-shadow: inset 0 0 0 5px #5c4e26;
    position: absolute;
    color: #fff;
    line-height: 21px;
  }

.box5{
  padding: 35px 10px 21px 27px;
}
  .box5:hover{
    background-color: #835664;
    -webkit-box-shadow: inset 0 0 0 5px  #592c3a;
    -moz-box-shadow: inset 0 0 0 5px  #592c3a;
    box-shadow: inset 0 0 0 5px  #592c3a;
  }

.box1,
.box2,
.box3,
.box4,
.box5,
.box4_inner{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/*=====================> Gallery Row ========================*/
.gallery_box{
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
  .gallery_box a{
    display: block;
    float: left;
  }
  .gallery_banner{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 89px;
    background: url("../images/spacer_black.png") repeat;
    -moz-transform: translateY(18px);
    -webkit-transform: translateY(18px);
    -o-transform: translateY(18px);
    -ms-transform: translateY(18px);
    transform: translateY(18px);
  }
  .gallery_box:hover .gallery_banner{
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px)
  }

  .gallery_banner_inner{
    padding: 14px 28px 0;
  }
  
  .gallery_banner .title3{
    margin-bottom: -7px;
  } 
  .gallery_banner .title5{
    text-align: left;
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  
  .gallery_box:hover .title5{
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
     -webkit-transition-delay: 0.5s;
     -o-transition-delay: 0.5s;
     -moz-transition-delay: 0.5s;
     transition-delay: 0.5s;
  }
/*=====================> Staff ========================*/

.staff_list{
  padding: 0 0 6px 1px;
}
  .staff_item{
    float: left;
    width: 160px;
    margin-right: 10px;
    text-align: center;
  }
    .staff_img{
      margin-bottom: 5px;
    }

/*=====================> Layouts ========================*/
.col_1{
  width: 285px;
}

.col_2{
  width: 589px;
}

.col_3{
  width: 893px;
}

.col{
  float: left;
  margin-left: 19px;
}

.sub_col1{
  width: 253px;
}

.row>div:first-child{
  margin-left: 0;
}

/*=====================> BG Colors ========================*/
.bg_vlt{
  background-color: #b594c2;
}

.bg_blue{
  background-color: #569edc;
}

.bg_green{
  background-color: #95b461;
}

.bg_yel{
  background-color: #e5c360;
}

.bg_pink{
  background-color: #df6e92;
}

.bg_gray{
  background-color: #ebebeb;
}

/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.p2{ margin-bottom:19px;}
.p3{ margin-bottom:0;}
.p4{ margin-bottom:0;}
.p5{ margin-bottom:0;}
.p6{ margin-bottom:0;}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker2.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker3.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: px;
  line-height: px;
  color:#;
}

.title2{
  font-size: px;
  line-height: px;
  color:#;
}

.title3{
  font-size: 30px;
  line-height: 36px;
  color:#fff;
}

.title4{
  font-size: 24px;
  line-height: 29px;
  color:#fff;
  margin-bottom: 15px;
}

.title5{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color:#fff;
  text-align: right;
  padding: 3px 0 19px;
}
  .title5 a{
    text-decoration: underline;
    color: #fff;
  }
  .title5 a:hover{
    text-decoration: none;
  }
.title6{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color:#ebebeb;
}
.t_ind{ margin-bottom:7px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}

/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover,
input[type="submit"],
.gallery_banner .title5{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.box1,
.box2,
.box3,
.box4,
.box4_inner,
.box5,
.box1_inner,
.gallery_banner{
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
input[type="text"],
textarea{
  margin:0;
  font-size:18px;
  border:2px solid #fff;
  color:#acacac;
  padding:5px 14px;
  outline:none;
  position:relative;
  font-family: 'Ubuntu Condensed', sans-serif;
  background:#fff;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input{outline: none;}
textarea{
  resize:vertical;
}
#question_form input[type="text"]{
  padding: 3px 8px 6px;
}
  .form_row{
    margin-bottom: 20px;
  }
  .form_row1{
    margin-bottom: 19px;
    display: block;
  }
  .form_row2{
    margin-bottom: 20px;
    display: block;
  }

  .question_msg{
    height: 88px;
    margin-bottom: -6px;
  }
  .subm_btn2,
  .subm_btn3{
    display: block;
    width: 100%;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    border-radius: 3px;
    font-size: 18px;
    padding: 2px 0 7px;
    cursor: pointer;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #fff;
    margin: 0;
  }
  .subm_btn3{
    background-color: #b594c2;
    border-color: #b594c2;
    color: #0d0d0d;
  }
  
  .subm_btn2:hover{
    background: #95b461;
    border-color: #95b461;
    color: #0d0d0d;
  }
#contact-form input {
  width:347px;
}
#contact-form textarea {
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}
.form_row{
  margin-bottom: 19px;
  display: block;
}
  
#contact-form label {
  display:inline-block;
  position: relative;
  min-height:45px;
  overflow:hidden;
 }
#contact-form label.message {
  display:block;
  padding-bottom:0;
}
#contact-form .button {
  margin-left:8px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
  width:74px;
}
.adress dt{ margin-bottom:14px;}

.demo{}
.demo:hover{ text-decoration:underline;}
/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
	<a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
	<a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
	<a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
	<a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

/*================================>> Footer <<========================================*/
footer{
  padding: 0px 19px;
  line-height: 22px;
}
  .footer_inner{
    min-height: 250px;
    padding: 0 0 0 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .footer_left{
    padding-top: 34px;
    width: 412px;
  }
  .footer_right{
    padding-top: 25px;
  }
    .footer_right .footer_list:first-child{
      width: 165px;
    }

    .footer_list{
      float: left;
    }
      .footer_list a{
        color: #000;
      }
footer .social{
  overflow:hidden;
}
footer .social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
footer .social a:first-child{margin: 0 0 0 0;}
footer .social a:hover img{
  margin-top:-32px;
}